<div class="adminContent" ng-init="getAdminUsersList()">
    <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        <div class="projectName color-orange"><span
                                class="glyphicon glyphicon-hand-right color-orange"> </span> &nbsp;View CRM Admins
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn edit-btn pull-right" data-toggle="modal" data-target="#addItem">
                            Add CRM User
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive table-width85">
                    <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th>Employee Id</th>
                            <th>Name</th>
                            <!--<th>Designation</th>-->
                            <th>Work Number</th>
                            <th>Own Number</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employee in AdminUsersList">
                            <td>{{employee.id}}</td>
                            <td>{{employee.name}}</td>
                            <!--<td>{{employee.designation}}</td>-->
                            <td>{{employee.workNum}}</td>
                            <td>{{employee.mobile}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.status}}</td>
                            <td>
                                <button class="btn btn-primary tt" ng-click="editEmployeeData(employee)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="ttt">Edit</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addItem" class="modal fade" role="dialog" style="z-index:99999;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <form id="addAdminUserId" role="form" name="myform" ng-submit="createAdminUser()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Name<span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter Name" class="form-control f-size12"
                                       ng-model="AdminUser.name" required/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Email<span class="color-red">*</span>:</label>
                                <input type="email" placeholder="Enter Email " class="form-control f-size12"
                                       ng-model="AdminUser.email" required/>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Work Phone Number<span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter work mobile number"
                                       class="form-control f-size12"
                                       ng-model="AdminUser.workNum" title="Phone number with 7-9 and remaing 9 digit with 0-9"
                                       pattern="[789][0-9]{9}" required/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Mobile Number<span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter mobile number " class="form-control f-size12"
                                       ng-model="AdminUser.mobile" title="Phone number with 7-9 and remaing 9 digit with 0-9"
                                       pattern="[789][0-9]{9}" required/>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Password<span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter password" class="form-control f-size12"
                                       ng-model="AdminUser.password" required/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>conform Password<span class="color-red">*</span>:</label>
                                <input type="text" placeholder="conform password" class="form-control f-size12"
                                       ng-model="AdminUser.cpassword" required/>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Select Designation<span class="color-red">*</span>:</label>
                                <select ng-model="AdminUser.designation" data-style="btn-primary"
                                        data-placement="Select Designation">
                                    <option value="" disabled>Select Designation</option>
                                    <option value="accounts">accounts</option>
                                    <option value="kitchen">kitchen</option>
                                    <option value="Delivery">Delivery</option>
                                </select>
                            </div>-->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Select Status <span class="color-red">*</span>:</label>
                                    <select ng-model="AdminUser.status" data-style="btn-primary"
                                            data-placement="Select Plan ID">-
                                        <option value="" disabled>Select Status</option>
                                        <option value="available">Available</option>
                                        <option value="Unavailable">UnAvailable</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                </div><br/>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                </div>

            </form>
        </div>
    </div>
</div>

<div id="editItemId" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content top30">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit CRM User</h4>
            </div>
            <form id="itemEditFormId" role="form" name="myform" ng-submit="itemEditSave(ItemEditData.id)">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Name<span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter Name" class="form-control f-size12"
                                       ng-model="ItemEditData.name" required/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Email<span class="color-red">*</span>:</label>
                                <input type="email" placeholder="Enter Email" class="form-control f-size12"
                                       ng-model="ItemEditData.email" required/>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Work phone Number<span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter Work mobile number" class="form-control f-size12"
                                       ng-model="ItemEditData.workNum" title="Phone number with 7-9 and remaing 9 digit with 0-9"
                                       pattern="[789][0-9]{9}" required/>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Mobile Number<span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter Email" class="form-control f-size12"
                                       ng-model="ItemEditData.mobile" title="Phone number with 7-9 and remaing 9 digit with 0-9"
                                       pattern="[789][0-9]{9}"  required/>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Select Designation<span class="color-red">*</span>:</label>
                                <select ng-model="ItemEditData.designation" data-style="btn-primary"
                                        data-placement="Select Designation*">
                                    <option value="" disabled>Select Designation</option>
                                    <option value="accounts">accounts</option>
                                    <option value="kitchen">kitchen</option>
                                    <option value="Delivery">Delivery</option>
                                </select>


                            </div>-->
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label>Select Status <span class="color-red">*</span>:</label>
                                <select ng-model="ItemEditData.status" data-style="btn-primary"
                                        data-placement="Select status">
                                    <option value="" disabled>Select Status</option>
                                    <option value="available">Available</option>
                                    <option value="Unavailable">Unavailable</option>
                                </select>
                           </div>
                        </div>
                    </div>
                </div><br/>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>
