<div class="adminContent">
    
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> &nbsp;coupons
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn edit-btn pull-right" data-toggle="modal" data-target="#coupon">Create
                            Coupon
                        </button>

                        <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#table1')">
                            <span class="glyphicon glyphicon-share "></span> Export to Excel
                        </button>

                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="table-responsive">
                    <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Coupon Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Discount Type</th>
                            <th>Coupon Amount</th>
                            <th>Max Coupons Allowed</th>
                            <th>Coupons Utilized</th>
                            <th>Max Discount Amount</th>
                            <th>Minimum Order Amount</th>
                            <th> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="coupon in couponData">

                            <td class="txt-center">{{coupon.code}}</td>
                            <td class="txt-center">{{coupon.couponType}}</td>
                            <td>{{coupon.startTime}}</td>
                            <td>{{coupon.endTime}}</td>
                            <td>{{coupon.couponUnit}}</td>
                            <td class="txt-center"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{coupon.value}}</td>
                            <td class="txt-center">{{coupon.maxCouponsAllowed}}</td>
                            <td class="txt-center">{{coupon.maxCouponsAllowed-coupon.noOfTimes}}</td>
                            <td class="txt-center"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{coupon.maxDiscountAmount}}</td>
                            <td class="txt-center"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{coupon.minimumCartValue}}</td>


                            <td>
                                <table>
                                    <tr>
                                        <td  ng-if="coupon.couponStatus!='created'">
                                             <button type="button" class="btn btn-success tt">
                                                  <span class="glyphicon glyphicon-ok"></span>
                                                  <span class="ttt">Sent</span>
                                             </button>
                                        </td>
                                        <td ng-if="coupon.couponStatus=='created'">
                                            <button type="button" class="btn btn-success tt"  ng-click="couponsend(coupon.id)" title="Send">
                                                <span class="glyphicon glyphicon-send"></span>
                                                <span class="ttt">Send</span>
                                            </button>
                                        </td>
                                        <td>
                                            <button ng-click="coupon09(coupon)" class="btn btn-warning tt">
                                                <span class="fa fa-eye"></span>
                                                <span class="ttt">View More</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                                <!--<div class="buttons_div">
                                    <button type="button" class="btn btn-success tt" ng-if="coupon.couponStatus!='created'">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="ttt">Sent</span>
                                    </button>
                                    <button type="button" class="btn btn-success tt" ng-if="coupon.couponStatus=='created'" ng-click="couponsend(coupon.id)" title="Send">
                                        <span class="glyphicon glyphicon-send"></span>
                                        <span class="ttt">Send</span>
                                    </button>
                                    <button ng-click="coupon09(coupon)" class="btn btn-warning tt">
                                        <span class="fa fa-eye"></span>
                                        <span class="ttt">View More</span>
                                    </button>
                                </div>-->

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="viewmore" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content top30 naveendis">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View More</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive scroll-horizontal">
                    <table class="hover table table-bordered table-striped" id="">
                        <thead>
                        <tr>
                            <th>Email Id's</th>
                            <th>SMS Text</th>
                            <th>Email Subject</th>
                            <th>Email Text</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="naveendis12">{{coupon10.emails}}</td>
                            <td>{{coupon10.smsText}}</td>
                            <td>{{coupon10.emailSubject}}</td>
                            <td>{{coupon10.emailText}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- <div class="modal-footer">
                 &lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&ndash;&gt;
             </div>-->
        </div>

    </div>
</div>

</div>


<div id="coupon" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content top30">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Coupon</h4>
            </div>
            <form role="form" name="myform" ng-submit="mailsvalidate()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Coupon Code <span class="color-red">*</span>:</label>
                                <input capitalizes type="text" placeholder="Enter Coupon Code" maxlength="8"
                                       class="form-control f-size12" ng-model="coupon.code" required/>
                            </div>
                            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Coupon Type <span class="color-red">*</span>:</label>
                                <select ng-model="coupon.couponType" data-style="btn-primary"
                                        data-placement="Select Plan ID">
                                    <option value="" disabled>Coupon Type</option>
                                    <option value="Single" selected>Single</option>
                                    <option value="Multiple">Multiple</option>
                                </select>
                            </div>
                        </div>
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Discount Type <span class="color-red">*</span>:</label>
                                <select ng-model="coupon.couponUnit" ng-change="percentageselect()"
                                        data-style="btn-primary" data-placement="Select Plan ID">
                                    <option value="" disabled>Discount Type</option>
                                    <option value="Amount">Amount</option>
                                    <option value="Percentage">Percentage(%)</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label ng-show="!maxDiscountAmount">Discount Amount <span
                                        class="color-red">*</span>:</label>
                                <label ng-show="maxDiscountAmount">Discount % <span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter Discount" class="form-control f-size12"
                                       ng-model="coupon.value" valid-number required/>
                            </div>
                        </div>
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Minimum Order Amount <span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter Minimum Order Amount" valid-number
                                       ng-model="coupon.minimumCartValue" class="form-control f-size12" required/>
                            </div>
                            <div ng-show="maxDiscountAmount" class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Max Discount Amount in Rs <span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter Max coupon Discount Amount" valid-number
                                       class="form-control f-size12" ng-model="coupon.maxDiscountAmount"/>
                            </div>
                        </div>
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Criteria <span class="color-red">*</span>:</label>
                                <select ng-model="coupon.criteria" data-style="btn-primary" data-placement="Select Plan ID" ng-change="couponCriteria(coupon.criteria)">
                                    <option value="" disabled>Coupon Criteria</option>
                                    <option value="totalCustomers" >Total Customers</option>
                                    <option value="selectedCustomers">Selected Email(id's)</option>
                                    <option value="topTenMembers">Top 10 Active Members</option>
                                    <option value="bottomTenMembers">Bottom 10 Active Members</option>
                                </select>
                            </div>
                        </div>
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Start Date <span class="color-red">*</span>:</label>
                                <input type="text" id="startdaorderdsfsd" placeholder="Enter Start Date" ng-calendar
                                       format="%d-%m-%Y" ng-model="coupon.startTime" readonly="readonly"
                                       class="form-control f-size12 coupon_date" required/>
                            </div>
                            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Valid Till Date <span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter End Date"
                                       class="form-control f-size12 coupon_date" ng-calendar format="%d-%m-%Y"
                                       ng-model="coupon.endTime" required readonly="readonly"/>
                            </div>
                        </div>
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Count Allowed <span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter no of coupon generated"
                                       class="form-control f-size12" valid-number ng-model="coupon.noOfTimes" required/>
                                <label>SMS Text <span class="color-red">*</span>:</label>
                                <input type="text" placeholder="Enter Short Message " class="form-control f-size12"
                                       ng-model="coupon.smsText" required/>

                            </div>
                            <div ng-show="emailInputBox" class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Email Id's <span class="color-red">*</span>:</label>
                                <textarea type="text" rows="4" placeholder="Enter Email Id's with ',' separated"
                                          class="form-control f-size12" ng-model="coupon.emails" required/>
                            </div>
                        </div>
                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Email Subject <span class="color-red">*</span>:</label>
                                <textarea type="text" rows="3" placeholder="Enter Email Subject"
                                          class="form-control f-size12" ng-model="coupon.emailSubject" required/>
                            </div>
                            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Email Text <span class="color-red">*</span>:</label>
                                <textarea rows="3" type="text" placeholder="Enter Email Text"
                                          class="form-control f-size12" ng-model="coupon.emailText" required/>
                            </div>

                        </div>
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         </div>
                      </div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editcityId" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content top30">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit City</h4>
            </div>
            <form role="form" name="myform" ng-submit="editCitysave()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>City Name <span class="color-red">*</span>:</label>
                            <input type="text" placeholder="Enter City" class="form-control f-size12"
                                   ng-model="cityedit.name" required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>Status <span class="color-red">*</span>:</label>
                            <select ng-model="cityedit.status" data-style="btn-primary" data-placement="Select Plan ID">
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                </div>
            </form>
        </div>

    </div>
</div>