<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span>Customer list
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#custmr')">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>

                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                <div>


                    <div class="projectMain m-top20 m-btm20 ">
                        <table datatable="ng" class="hover table table-bordered table-striped" id="custmr">
                            <thead>
                            <tr>
                                <th class="projectTile"> Customer Name</th>
                                <th class="projectTile"> e-Mail</th>
                                <th class="projectTile"> Phone</th>
                                <!--<th class="projectTile"> Monk Points</th>-->
                                <!--<th class="projectTile"> Monk Amount</th>-->
                                <!--<th class="projectTile">Registered Date</th>-->
                                <!--<th class="projectTile">Action</th>-->
                                <!-- <th class="projectTile"> No Orders Placed</th>
                                 <th class="projectTile"> Order Amount</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="customer in customersdata">
                                <td>{{customer.name | capitalize}}</th>
                                <td>{{customer.email}}</td>
                                <td>{{customer.phone}}</td>
                                <!--<td id="calign">{{customer.loyalty.points}}</td>-->
                                <!--<td>-->
                                    <!--<div class=" pull-right"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{customer.loyalty.amount}}-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td>{{customer.createdTime}}</td>-->
                                <!--<td><button type="button" class="glyphicon glyphicon-home" ng-click="showAddresses(customer.id)"></button>-->
                                    <!--&nbsp;-->
                                    <!--<button type="button" class="fa fa-history" ng-click="getOrderHistory(customer.id)"></button>-->
                                <!--</td>-->
                                <!--  <td>{{customer.noofoders}}</td>
                                  <td>{{customer.total}}</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Modal to show the addresses associated with the customer-->
<div id="showAddresses" class="modal fade" role="dialog">
   <div class="modal-dialog">
        <div class="modal-content top30">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Customer Addresses</h4>
            </div>
            <!--<form id="itemEditFormId" role="form" name="myform" ng-submit="itemEditSave(ItemEditData.id)">-->
            <div class="row schemForms">
                <div class="modal-body">
                    <div style="padding-left: 10%;">
                        <div class="row">
                            <div ng-repeat="customerAddress in customerAddresses" class="col-sm-4 addresses">
                                <h4>{{customerAddress.addressType}}</h4>
                                <address>
                                    <h5>{{customerAddress.houseNumber}}</h5>
                                    <h6>{{customerAddress.streetAddress}}</h6>
                                    {{customerAddress.landMark}}<br>
                                    {{customerAddress.areaName}}<br/>
                                    {{customerAddress.city}}<br>
                                    <b>{{customerAddress.email}}</b>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="modal-footer">
                    <div id="lodingImage" ng-show="loadingImage"> <button class="btn-warning">Uploading...</button></div>
                    <button ng-show="!loadingImage" type="submit" class="btn btn-success">Update</button>
                    &lt;!&ndash;<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>&ndash;&gt;
                </div>-->
                <!--</form>-->
            </div>

        </div>
    </div>
</div>

<!--Modal to show the order history of customer-->
<div id="showOrderHistory" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content top30">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order history</h4>
            </div>
            <div class="row schemForms">
                <div class="modal-body">
                    <div style="padding-left: 10%;">
                        <div class="row">
                            <div ng-repeat="order in orderHistory" class="col-sm-8 addresses">
                                <address>
                                    <h4><u>{{$index+1}}.Order Status: <b>{{order.orderStatus}}</b></u></h4>
                                    <h5>Ordered Items:</h5>
                                    <table>
                                        <thead><th>Date</th><th></th><th>Name</th><th>Price</th><th>Quantity</th><th>Total</th></thead>
                                        <tr ng-repeat="orderitem in order.cartItems">
                                            <td>{{orderitem.date}}</td><td></td>
                                            <td>{{orderitem.name}}</td>
                                            <td>{{orderitem.price}}</td>
                                            <td>{{orderitem.quantity}}</td>
                                            <td>{{orderitem.total}}</td>
                                        </tr>
                                    </table><hr>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
