<div class="adminContent" ng-init="getFilters()">
  <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>

  <div class="" ng-show="!loadingImage">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="projectName color-orange"><span
              class="glyphicon glyphicon-hand-right color-orange"></span> &nbsp;Meal Time
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- <button ng-show="citydisplay" class="btn btn-default m_l260" ng-click="exportToExcel('#table1')">
               <span class="glyphicon glyphicon-share "></span> Export to Excel
             </button>-->
            <button class="btn edit-btn pull-right" data-toggle="modal" data-target="#addfilterPopId">Add
              Filter
            </button>
          </div>
        </div>
        <div class="clearfix visible-block"></div>
        <hr/>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="table-responsive table-width85" style="margin-left: 15%">
            <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
              <thead>
              <tr>
                <th class="p_left40">Category Name</th>
                <th class="p_left40">Filter Name</th>
                <th class="txt-center">Status</th>
                <th class="txt-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="filter in filterList">

                <td class="p_left40">{{filter.categoryName}}</td>
                <td class="p_left40">{{filter.filterName}}</td>
                <td class="p_left40">{{filter.status}}</td>
                <td class="txt-center">
                  <button class="btn edit-btn tt" ng-click="editFilter(filter)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="ttt">Edit</span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="addfilterPopId" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content top30" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Filter</h4>
        </div>
        <form id="createFilters" role="form" name="myform" ng-submit="createFilter()">
          <div class="row schemForms">
            <div class="modal-body">

              <label>Select Category<span class="color-red">*</span>:</label>
              <select ng-model="filterData.categoryName" data-style="btn-primary"
                      data-placement="Select Plan ID" required>
                <option value="" disabled>Select Category</option>
                <option ng-repeat="Category in categoriesList" value="{{Category.categoryName}}">{{Category.categoryName}}
                </option>
              </select>

              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Filter Name<span class="color-red">*</span>:</label>
                <input id="MealTimeDescriptionId" type="text" placeholder="Enter Description"
                       class="form-control date" ng-model="filterData.filterName"
                       required />
                <label>Status<span class="color-red">*</span>:</label>
                <select id="MealTimeStatusId" ng-model="filterData.status"
                        data-style="btn-primary" data-placement="Select Status">
                  <option value="" disabled>Select Status</option>
                  <option value="Active">Active</option>
                  <option value="In Active">In Active</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Create</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div id="editfilterePopId" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content top30" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Filter</h4>
        </div>
        <form id="createFilters" role="form" name="myform" ng-submit="createFilter()">
          <div class="row schemForms">
            <div class="modal-body">

              <label>Select Category<span class="color-red">*</span>:</label>
              <select ng-model="filterData.categoryName" data-style="btn-primary"
                      data-placement="Select Plan ID" required>
                <option value="" disabled>Select Category</option>
                <option ng-repeat="Category in categoriesList" value="{{Category.categoryName}}">{{Category.categoryName}}
                </option>
              </select>

              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Filter Name<span class="color-red">*</span>:</label>
                <input id="MealTimeDescriptionId" type="text" placeholder="Enter Description"
                       class="form-control date" ng-model="filterData.filterName"
                       required />
                <label>Status<span class="color-red">*</span>:</label>
                <select id="MealTimeStatusId" ng-model="filterData.status"
                        data-style="btn-primary" data-placement="Select Status">
                  <option value="" disabled>Select Status</option>
                  <option value="Active">Active</option>
                  <option value="In Active">In Active</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Create</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div id="mealTimeEditpopId" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content top30">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Filter</h4>
        </div>
        <form role="form" name="myform" >
          <div class="row schemForms">
            <div class="modal-body">
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Filter Name<span class="color-red">*</span>:</label>
                <input type="text" placeholder="Enter Category name " class="form-control f-size12"
                       ng-model="editmealTimesavedata.categoryName" maxlength="25" required/>
                <label>Status <span class="color-red">*</span>:</label>
                <select ng-model="editmealTimesavedata.status" data-style="btn-primary"
                        data-placement="Select status">
                  <option value="" disabled>Select Status</option>
                  <option value="Active">Active</option>
                  <option value="In Active">In Active</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="editCategory(editmealTimesavedata.id)">
              Update
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
