<div class="adminContent" ng-init="getNewOrders()">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span>New Orders
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#salesTotal1')">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>
           

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="false">
                    <table  id="salesTotal1">
                        <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Order Number</th>
                            <th>Order&nbspDate&nbsp</th>
                            <th> Name</th>
                            <th> Phone</th>
                            <th> Email</th>
                            <th> Address</th>

                            <th> PaymentMode</th>
                            <th> PaymentStatus</th>
                            <th> OrderStatus</th>
                            <th> CartValue</th>
                            <th> CouponCode</th>
                            <th> CouponDiscount</th>
                            <th> DeliveryCharges</th>

                            <!-- <th> TaxPercentage</th>-->

                            <th> GrandTotal</th>
                            <th> Duration</th>
                            <th style="text-align: center;">Order Dates
                                <table class="table">
                                    <thead>
                                    <tr>


                                    </tr>
                                    </thead>
                                </table>
                            </th>
                            <th style="text-align: center;">
                                OrderedItems
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width:100px !important;">Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                </table>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="activeorder in newOrders">
                            <td>{{$index + 1}}</td>
                            <td>{{activeorder.orderId }}</td>
                            <td>{{activeorder.orderedDate }}</td>
                            <td>{{activeorder.name | capitalize }}</td>
                            <td>{{activeorder.phone }}</td>
                            <td>{{activeorder.email }}</td>
                            <td>{{activeorder.address }}</td>

                            <td>{{activeorder.paymentMode }}</td>
                            <td>{{activeorder.paymentStatus }}</td>
                            <td>{{activeorder.orderStatus }}</td>
                            <td>{{activeorder.subTotal }}</td>
                            <td>{{activeorder.couponCode }}</td>
                            <td>{{activeorder.couponAmount }}</td>
                            <td>free</td>
                            <!-- <td>{{activeorder.taxAmount }}</td>-->
                            <td>{{activeorder.cartValue }}</td>
                            <td>{{activeorder.todaysOrdersDates.length}}&nbsp;Days</td>
                            <td>
                                <table style="height: 60px;width: 110px;overflow: scroll;display: block;overflow-x: auto;">
                                    <tbody>
                                    <tr ng-repeat="ts in activeorder.cartItems">
                                        <td class="td-order1">{{ts.name}}-{{ts.date}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                            </td>

                            <td>
                                <table>
                                    <tbody>
                                    <tr ng-repeat="it in activeorder.cartItems">
                                        <td class="td-order1">{{it.name }}</td>
                                        <td class="td-order2">{{it.quantity }}</td>
                                        <td class="td-order3">{{it.price }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table datatable="ng" id="sales" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Order Number</th>
                            <th> Date</th>
                            <th> Name</th>
                            <th> Mobile</th>

                            <th style="text-align: center;">
                                Package Details
                            </th>
                            <th> Order Duration</th>
                            <th> GrandTotal</th>
                            <!--<th> Start Date</th>
                            <th> End Date</th>-->
                            <th> Payment Status</th>
                            <th ng-if="userDetails.roleObject.editnewOrder">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th style=" width: 190px !important;">Action</th>
                                    </tr>
                                    </thead>
                                </table>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="todayorder in newOrders|date">
                            <td>{{todayorder.orderId }}</td>
                            <td>{{todayorder.orderedDate | date : "y-MM-dd"}}</td>
                            <td class="txt-center">{{todayorder.name | capitalize }}</td>
                            <td>{{todayorder.phone}}</td>
                            <td>
                                <table  class="table profile table-bordered table-responsive">
                                    <thead>
                                    <th class="txt-center">Date</th>
                                    <th class="txt-center">Pkg details</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="ts in todayorder.todaysOrdersDates track by $index">
                                        <td class="txt-center" >{{ts}}</td>
                                        <td class="txt-center">
                                            <table  class="table profile table-bordered table-responsive txt-center">
                                                <tbody>
                                                <tr ng-repeat="tss in todayorder.cartItems track by $index">
                                                    <td ng-show='tss.date==ts' class="td-order1" >{{tss.name}}</td>
                                                    <td ng-show='tss.date==ts' class="td-order1" >Qty:&nbsp;{{tss.quantity}}</td>
                                                    <td ng-show='tss.date==ts' class="td-order1" ><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{tss.price}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="txt-center">{{todayorder.todaysOrdersDates.length }}&nbsp;Days</td>
                            <td class="txt-center"><i class="fa fa-inr"></i> {{todayorder.subTotal }}</td>

                            <!--<td>{{todayorder.todaysOrdersDates[0] }}</td>-->
                            <!--<td>{{todayorder.todaysOrdersDates[todayorder.todaysOrdersDates.length-1] }}</td>-->
                            <td class="txt-center">{{todayorder.paymentStatus }}</td>
                            <th ng-if="userDetails.roleObject.editnewOrder">

                                <!--<table class="table">

                                    <tbody>
                                    <tr>
                                        <td ng-if="todayorder.orderStatus=='NEW'" class="btn btn-primary"
                                            ng-click="orderAccept(todayorder.id)">Accept
                                        </td>
                                        <td ng-if="todayorder.orderStatus=='NEW'" class="btn btn-danger m-l10"
                                            ng-click="orderReject(todayorder)">Reject
                                        </td>
                                        <td ng-click="orderViewMore(todayorder)" class="btn edit-btn m-l10"><span
                                                class="fa fa-eye"></span></td>
                                    </tr>
                                    </tbody>
                                </table>-->
                                <div class="buttons_div">
                                    <button type = "button" class = "btn btn-success tt" ng-if="todayorder.orderStatus=='NEW'" ng-click="orderAccept(todayorder.id)" title="Accept">
                                            <span class="fa fa-check-square"></span>
                                        <span class="ttt">Accept</span>
                                    </button>
                                    <button type = "button" class = "btn btn-danger tt" ng-if="todayorder.orderStatus=='NEW'" class="btn btn-danger m-l10" ng-click="orderReject(todayorder)" title="Reject">
                                            <span class="fa fa-times"></span>
                                        <span class="ttt">Reject</span>
                                    </button>
                                    <button ng-click="orderViewMore(todayorder)" class="btn btn-warning tt" title="View">
                                        <span class="fa fa-eye"></span>
                                        <span class="ttt">View</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="rejectReason" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content top30">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reject Order</h4>
            </div>
            <form role="form" name="myform" ng-submit="rejectReasonsave()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>Reason:</label>
                            <input type="text" placeholder="Enter Reason" class="form-control" ng-model="rejectReason"
                                   required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- <label>Status:</label>
                             <select ng-model="cityedit.status" data-style="btn-primary" data-placement="Select Plan ID">
                               <option value="Active" selected>Active</option>
                               <option value="In Active">In Active</option>
                             </select>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal fade" id="viewmore" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order</h4>
            </div>
            <div class="modal-body">

                <table class="table profile table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{orderdata.name}}</td>
                        <th>Email</th>
                        <td>{{orderdata.email}}</td>
                        <th>Phone Number</th>
                        <td>{{orderdata.phone}}</td>
                    </tr>
                    <tr>
                        <th>Order Number</th>
                        <td>{{orderdata.orderId}}</td>
                        <th>Order Duration</th>
                        <td>{{orderdata.todaysOrdersDates.length }}&nbsp;Days</td>
                        <th>Order Start Date</th>
                        <td>{{orderdata.todaysOrdersDates[0] }}</td>
                    </tr>
                    <tr>
                        <th>Payment Status</th>
                        <td>{{orderdata.paymentStatus}}</td>
                        <th>Order status</th>
                        <td>{{orderdata.orderStatus}}</td>
                        <th>Order End Date</th>
                        <td>{{orderdata.todaysOrdersDates[orderdata.todaysOrdersDates.length-1] }}</td>
                    </tr>
                    <tr>
                        <th> CouponCode</th>
                        <td>{{orderdata.couponCode}}</td>
                        <th> CouponDiscount</th>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{orderdata.couponAmount}}</td>
                        <th> Loyalty Amount</th>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{orderdata.loyaltyAmount}}</td>
                    </tr>
                    <tr>
                        <th>Payment Mode</th>
                        <td>{{orderdata.paymentMode}}</td>
                        <th> Cart value</th>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{orderdata.subTotal}}</td>
                        <th> Total</th>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{orderdata.cartValue }}</td>
                    </tr>
                    <tr>
                        <th> Address</th>
                        <td colspan="6">{{orderdata.address}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--<table class="table table-bordered table-responsive" style="width: 100%">
                    <tr>
                        &lt;!&ndash; <th> Package Duration</th>
                         <th> Meal Time</th>
                         <th> Week Type</th>
                         <th> Meal Type</th>&ndash;&gt;
                        <th> Dates</th>
                        <th>Pkg Name</th>
                    </tr>
                    <tr ng-repeat="items in orderdata.cartItems">


                        &lt;!&ndash;    <td >{{items.package_duration }}</td>
                            <td >{{items.mealTimeName }}</td>

                            <td >{{items.week_type }}</td>
                            <td >{{items.meal_type }}</td>&ndash;&gt;
                        <td>{{items.name}}-{{items.date}}</td>
                        <td>
                            <table>
                                <tbody>
                                <tr ng-repeat="it in activeorder.cartItems">
                                    <td class="td-order1">{{it.name }}</td>
                                    <td class="td-order2">{{it.quantity }}</td>
                                    <td class="td-order3">{{it.price }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>


                    </tr>
                </table>-->
                <table  class="table profile table-bordered table-responsive">
                    <thead>

                    <th>Date</th>
                    <th class="text-aglin-center">Pkg Detail</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ts in orderdata.todaysOrdersDates track by $index">
                        <td class="td-order1" >{{ts}}</td>
                        <!--<td class="td-order1" >{{ts.name}}-{{ts.date}}</td>-->
                        <td>
                            <table  class="table profile table-bordered table-responsive">
                                <tbody>
                                <tr ng-repeat="tss in orderdata.cartItems track by $index">
                                    <td ng-show='tss.date==ts' class="td-order1" >{{tss.name}}</td>
                                    <td ng-show='tss.date==ts' class="td-order1" >Qty:&nbsp;{{tss.quantity}}</td>
                                    <td ng-show='tss.date==ts' class="td-order1" ><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{tss.price}}</td>
                                    <!--<td class="td-order1" >{{ts.name}}-{{ts.date}}</td>-->

                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="buttons_div">
                    <div ng-if="orderdata.orderStatus=='NEW'"
                         class="txt-center btn btn-primary btn-left ng-binding"
                         ng-click="orderAccept(orderdata.id)"> Accept
                    </div>
                    <div ng-if="orderdata.orderStatus=='NEW'"
                         class="txt-center btn btn-danger btn-right ng-binding"
                         ng-click="orderReject(orderdata)"> Reject
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
