<div class="adminContent m-top58">
    <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> orders</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#salesTotal1')">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>

            </div>
        </div>

        <div>

            <ul class="list_none" ng-init="filter1('week')">
                <li class="m-btm20 f-left">
                    <button class="btn edit-btn" ng-click="filter1('today')">Today</button>
                </li>
                <li class="li_top10">
                    <button class="btn edit-btn" ng-click="filter1('week')">7 Days</button>
                </li>
                <li class="li_top10">
                    <button class="btn edit-btn" ng-click="filter1('month')">This Month</button>
                </li>
                <li class="li_top10">
                    <button class="btn edit-btn" id="range">Range</button>
                </li>
                <li class="li_top10">
                    <table class="table-responsive range-style" border="0" width="100%">
                        <tr>
                            <td class="vertical-middle m-l10"> From :</td>

                            <td class="li_top10">
                                <input type="text" id="startdate-feedback" type="text" placeholder="Enter Start Date"
                                       class="form-control date" required readonly="readonly"/>
                            </td>

                            <td class="vertical-middle m-l10"> To :</td>

                            <td class="li_top10">
                                <input type="text" id="enddate-feedback" type="text" placeholder="Enter End Date"
                                       class="form-control date" required readonly="readonly"/>
                            </td>

                            <td>
                                <button class="btn edit-btn m-l10" ng-click="filter1('range')"> Submit</button>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="list_none">
                <div class="m-btm20 f-left" style="margin-right: 10px;">
                    <b>
                        Order Status

                    </b>
                </div>
                <ul id="test" class="list_none">
                    <li class="m-btm20 f-left">
                        <input type="checkbox" id="orderstatusNew" ng-click="filter2()">New

                    </li>
                    <li class="li_top10">
                        <input type="checkbox" id="orderstatusAccept" ng-click="filter2()"
                        >Accepted

                    </li>
                    <li class="li_top10">
                        <input type="checkbox" id="orderstatusRejected" ng-click="filter2()"
                        >Rejected
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <div class="m-btm20 f-left" style="margin-right: 10px;">
                    <b>
                        Payment Status
                    </b>
                </div>
                <ul id="testpay" class="list_none">
                    <li class="m-btm20 f-left">
                        <input type="checkbox" id="payststpaid" ng-click="filter3()">Paid

                    </li>
                    <li class="li_top10">
                        <input type="checkbox" id="payststunPaid" ng-click="filter3()">Unpaid

                    </li>
                </ul>
            </div>
        </div>
        <div>

            <!--total exel download-->
            <div ng-show="false">
                <table  id="salesTotal1">
                    <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Order Number</th>
                        <th>Order&nbspDate&nbsp</th>
                        <th> Name</th>
                        <th> Phone</th>
                        <th> Email</th>
                        <th> Address</th>

                        <th> PaymentMode</th>
                        <th> PaymentStatus</th>
                        <th> OrderStatus</th>
                        <th> CartValue</th>
                        <th> CouponCode</th>
                        <th> CouponDiscount</th>
                        <th> DeliveryCharges</th>

                        <!-- <th> TaxPercentage</th>-->

                        <th> GrandTotal</th>
                        <th> Duration</th>
                        <th style="text-align: center;">Order Dates
                            <table class="table">
                                <thead>
                                <tr>


                                </tr>
                                </thead>
                            </table>
                        </th>
                        <th style="text-align: center;">
                            OrderedItems
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width:100px !important;">Item</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                            </table>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="activeorder in todayOrders">
                        <td>{{$index + 1}}</td>
                        <td>{{activeorder.orderId }}</td>
                        <td>{{activeorder.orderedDate }}</td>
                        <td>{{activeorder.name | capitalize }}</td>
                        <td>{{activeorder.phone }}</td>
                        <td>{{activeorder.email }}</td>
                        <td>{{activeorder.address }}</td>

                        <td>{{activeorder.paymentMode }}</td>
                        <td>{{activeorder.paymentStatus }}</td>
                        <td>{{activeorder.orderStatus }}</td>
                        <td>{{activeorder.subTotal }}</td>
                        <td>{{activeorder.couponCode }}</td>
                        <td>{{activeorder.couponAmount }}</td>
                        <td>free</td>
                        <!-- <td>{{activeorder.taxAmount }}</td>-->
                        <td>{{activeorder.cartValue }}</td>
                        <td>{{activeorder.todaysOrdersDates.length}}&nbsp;Days</td>
                        <td>
                            <table style="height: 60px;width: 110px;overflow: scroll;display: block;overflow-x: auto;">
                                <tbody>
                                <tr ng-repeat="ts in activeorder.cartItems">
                                    <td class="td-order1">{{ts.name}}-{{ts.date}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </td>

                        <td>
                            <table>
                                <tbody>
                                <tr ng-repeat="it in activeorder.cartItems">
                                    <td class="td-order1">{{it.name }}</td>
                                    <td class="td-order2">{{it.quantity }}</td>
                                    <td class="td-order3">{{it.price }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <!--end-->


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table datatable="ng" id="sales" class="hover table table-bordered table-striped">
                    <thead style="background: #000; color: #fff;">
                    <tr>
                        <th>S.NO</th>
                        <th>Order Number</th>
                        <th> Customer Name</th>
                        <th> Phone</th>
                        <th> Order Date</th>
                        <!--  <th> Address</th>
                          <th> Meal Time</th>
                          <th> Meal Type</th>
                          <th> Meal Plan</th>
                          <th> Week Type</th>
                          <th> Package Duration</th>-->
                        <th> Pmt Status</th>
                        <th> Pmt Mode</th>

                        <!--<th> CouponCode </th>
                        <th> CouponDiscount</th>-->

                        <!--  <th> TaxPercentage </th>-->
                        <!-- <th> Commission </th>-->
                        <th> Total</th>
                        <th> View</th>
                        <!-- <th style="text-align: center;">
                           OrderedItems
                           <table class="table">
                             <thead style="background: #000; color: #fff;">
                             <tr>
                               <th style="width:100px !important;">Item</th>
                               <th>Quantity</th>
                               <th>UnitPrice</th>
                             </tr>
                             </thead>
                           </table>
                         </th>-->
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="todayorder in todayOrders | orderBy:'-orderedTime'">

                        <td>{{$index + 1}}</td>
                        <td>{{todayorder.orderId }}</td>
                        <td>{{todayorder.name | capitalize }}</td>
                        <td>{{todayorder.phone }}</td>
                        <td>{{todayorder.orderedDate }}</td>
                        <!-- <td >{{todayorder.address.address  }}</td>

                         <td >{{todayorder.cartItems.mealTimeName }}</td>
                         <td >{{todayorder.cartItems.meal_type }}</td>
                         <td >{{todayorder.cartItems.meal_plan }}</td>
                         <td >{{todayorder.cartItems.week_type }}</td>
                         <td >{{todayorder.cartItems.package_duration }}</td>-->

                        <td>{{todayorder.paymentStatus }}</td>
                        <td>{{todayorder.paymentMode }}</td>

                        <!-- <td >{{todayorder.showTime }}</td>
                         <td >{{todayorder.name }}</td>-->
                        <!--  <td >{{todayorder.taxAmount }}</td>-->
                        <!-- <td >{{todayorder.paymentMode }}</td>-->

                        <td>{{todayorder.subTotal }}</td>
                        <td>
                            <button type="button" class="btn btn-warning tt">
                                <span class="fa fa-eye" ng-click="ordersdata(todayorder)"></span>
                                <span class="ttt">View</span>
                            </button>

                        </td>


                        <!-- <td>
                           <table ng-repeat="items in todayorder.cartItems.package_list">
                             <tbody>
                             <tr ng-repeat="it in items.packagedetails.itemList">
                               <td class="td-order1" >{{it.name }}</td>
                               <td class="td-order2">{{it.itemQuantity }}</td>
                               <td class="td-order3">{{it.itemUnit }}</td>
                             </tr>
                             </tbody>
                           </table>
                         </td>
             -->
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
</div>

<div class="modal fade" id="orderepot" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order</h4>
            </div>
            <div class="modal-body">

                <table class="table profile table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{datasend.name}}</td>
                        <td>Email</td>
                        <td>{{datasend.email}}</td>
                        <td>Phone Number</td>
                        <td>{{datasend.phone}}</td>

                    </tr>
                    <tr>
                        <td>Order Number</td>
                        <td>{{datasend.orderId}}</td>
                        <td>Order Duration</td>
                        <td>{{datasend.todaysOrdersDates.length }}&nbsp;Days</td>
                        <td>Order Start Date</td>
                        <td>{{datasend.todaysOrdersDates[0] }}</td>

                    </tr>
                    <tr>
                        <td>Payment Status</td>
                        <td>{{datasend.paymentStatus}}</td>
                        <td>Order status</td>
                        <td>{{datasend.orderStatus}}</td>
                        <td>Order End Date</td>
                        <td>{{datasend.todaysOrdersDates[datasend.todaysOrdersDates.length-1] }}</td>

                    </tr>
                    <tr>
                        <td> CouponCode</td>
                        <td>{{datasend.couponCode}}</td>
                        <td> CouponDiscount</td>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{datasend.couponAmount}}</td>
                        <td> Loyalty Amount</td>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{datasend.loyaltyAmount}}</td>
                    </tr>
                    <tr>
                        <td> Payment Mode</td>
                        <td>{{datasend.paymentMode}}</td>
                        <td> Cart value</td>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{datasend.subTotal}}</td>
                        <td> Total</td>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{datasend.cartValue }}</td>
                    </tr>
                    <tr>
                        <td> Address</td>
                        <td colspan="6">{{datasend.address}}</td>

                    </tr>
                    </tbody>
                </table>
                <table class="table profile table-bordered table-responsive">
                    <thead>
                    <th>Date</th>
                    <th class="text-aglin-center">Pkg Detail</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ts in datasend.todaysOrdersDates track by $index">
                        <td class="td-order1">{{ts}}</td>
                        <!--<td class="td-order1" >{{ts.name}}-{{ts.date}}</td>-->
                        <td>
                            <table class="table profile table-bordered table-responsive">
                                <tbody>
                                <tr ng-repeat="tss in datasend.cartItems track by $index">
                                    <td ng-show='tss.date==ts' class="td-order1">{{tss.name}}</td>
                                    <td ng-show='tss.date==ts' class="td-order1">Qty:&nbsp;{{tss.quantity}}</td>
                                    <td ng-show='tss.date==ts' class="td-order1"><i class="fa fa-inr"
                                                                                    aria-hidden="true"></i>&nbsp;{{tss.price}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

    </div>
</div>