<div class="adminContent" ng-init="getPackages()">
    <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>
    <div ng-show="!loadingImage" class="">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName color-orange"><span
                                class="glyphicon glyphicon-hand-right color-orange"> </span> &nbsp;View Package
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                        <button class="btn edit-btn pull-right" data-toggle="modal" data-target="#addItem">Add Package
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive table-width85">

                    <table  class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th>Package Name</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="Item in packages">
                            <td>{{Item.packageName}}</td>
                            <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{Item.price}}</td>
                            <td>{{Item.status}}</td>
                            <td ng-show="Item.image!=''"><img src="{{Item.imgUrl}}" width="42" height="42"></td>
                            <td ng-hide="Item.image!=''"><img src="images/logo_48.png" width="42" height="42"></td>
                            <td >
                                <button class="btn edit-btn tt" ng-click="editPackage(Item)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="ttt">Edit Item</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div id="addItem" class="modal fade" role="dialog" style="z-index:99999;">
                <div class="modal-dialog add_item1">

                    <!-- Modal content-->
                    <div class="modal-content" >
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Package</h4>
                        </div>
                        <form id="addItemId" role="form" name="myform" ng-submit="createPackage()">
                            <div class="row schemForms">
                                <div class="modal-body">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Package Name<span class="color-red">*</span>:</label>
                                            <input type="text" placeholder="Enter Package Name" class="form-control f-size12"
                                                   ng-model="item.packageName" maxlength="25" required/>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Package Price<span class="color-red">*</span>:</label>
                                            <input type="text" placeholder="Enter Package Price" class="form-control f-size12"
                                                   ng-model="item.price" required/>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Select Status <span class="color-red">*</span>:</label>
                                            <select ng-model="item.status" data-style="btn-primary"
                                                    data-placement="Select Plan ID">-
                                                <option value="" disabled>Select Status</option>
                                              <option value="active">Active</option>
                                              <option value="inactive">In Active</option>

                                            </select>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Upload Image<span class="color-red">*</span>:</label>
                                        <input type="file" file-model="myFile">
                                        <button class="btn-info" ng-click="uploadFile()">Click To Upload</button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div id="lodingImage" ng-show="loadingImage">
                                    <button class="btn-warning">Uploading...</button>
                                </div>
                                <button ng-show="!loadingImage" type="submit" class="btn btn-success">Create</button>
                                <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="editItemId" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content top30">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Package</h4>
                        </div>
                        <form id="itemEditFormId" role="form" name="myform" ng-submit="packageEditSave(ItemEditData.id)">
                            <div class="row schemForms">
                                <div class="modal-body">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Package Name<span class="color-red">*</span>:</label>
                                            <input type="text" placeholder="Enter Item Name" class="form-control f-size12"
                                                   ng-model="ItemEditData.packageName" maxlength="25" required/>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Package Price<span class="color-red">*</span>:</label>
                                            <input type="text" placeholder="Enter Item Price" class="form-control f-size12"
                                                   ng-model="ItemEditData.price" required/>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Upload Image<span class="color-red">*</span>:</label>
                                        <p>{{ItemEditData.imageName}}</p>
                                        <input type="file" file-model="myFile" name="myFile">
                                        <input type="button" value="Click To Upload" class="btn-info" ng-click="uploadFile()">
                                        <!--<input type="file" file-model="myFile"><button class="btn-info" ng-click="uploadFile()">Click To Upload</button>-->
                                      </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Select Status <span class="color-red">*</span>:</label>
                                            <select ng-model="ItemEditData.status" data-style="btn-primary"
                                                    data-placement="Select status">
                                                <option value="" disabled>Select Status</option>
                                                <option value="active">Active</option>
                                                <option value="inactive">In Active</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div id="lodingImage" ng-show="loadingImage">
                                    <button class="btn-warning">Uploading...</button>
                                </div>
                                <button ng-show="!loadingImage" type="submit" class="btn btn-success">Update</button>
                                <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                            </div>
                        </form>
                    </div>

                </div>
            </div>


        </div>

    </div>
</div>
