<div class="adminContent" ng-init="getRejectedOrders()">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span>Rejected Orders </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#sales')">
                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>
                    <!-- <div class="addScheme pull-right" ng-show="showAction">
                       <button class="btn btn-default m-right5">
                         <span class="glyphicon glyphicon-print"></span> Print
                       </button>
                       <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')">
                         <span class="glyphicon glyphicon-share"></span> Export to Excel
                       </button>
                       <button class="btn btn-danger" id="scroll" data-toggle="modal" data-target="#createFieldVisitReport">Add Field visitor Report</button>
                     </div>-->
                </div>
            </div>
            <div class="clearfix visible-block"></div>
            <hr />
        </div>
    </div>
    <div>
        <!--<ul class="list_none">
          <li class="f-left">
            <button class="btn edit-btn" ng-click="todayvendor()">Today</button>
          </li>
          <li class="li_top10">
            <button class="btn edit-btn" ng-click="monthorders()">This Month</button>
          </li>
          <li class="li_top10">
            <button class="btn edit-btn" id="range">Range</button>
          </li>
          <li class="li_top10">
            <table class="table-responsive range-style" border="0" width="100%">
              <tr>
                <td class="vertical-middle m-l10" > From Date : </td>

                <td class="li_top10">
                  <input type="text" id="startdate-vendorsale" type="text"  placeholder="Enter Start Date" class="form-control" required readonly="readonly" />
                </td>

                <td class="vertical-middle m-l10" > Till Date : </td>

                <td class="li_top10">
                  <input type="text" id="enddate-sale" type="text"  placeholder="Enter End Date" class="form-control"  required readonly="readonly" />
                </td>

                <td>
                  <button class="btn edit-btn m-l10" ng-click="rangeselect()"> Submit </button>
                </td>
              </tr>
            </table>
          </li>
        </ul>-->
    </div>


    <div>
        <table datatable="ng" id="sales" class="hover table table-bordered table-striped" style="width: 100% !important;overflow: scroll; display: inherit;overflow-y: hidden;">
            <thead>
            <tr>
                <th>Order Number</th>
                <th>Order&nbspDate&nbsp</th>
                <th> Name</th>
                <th> Phone</th>
                <th> Email</th>
                <th> Address</th>

                <th> PaymentMode</th>
                <th> PaymentStatus</th>
                <th> OrderStatus</th>
                <th> Rejected Reason</th>
                <th> CartValue</th>
                <th> CouponCode</th>
                <th> CouponDiscount</th>
                <th> DeliveryCharges</th>

                <th> TaxPercentage</th>

                <th> GrandTotal</th>
                <th style="text-align: center;">Order Dates
                    <table class="table">
                        <thead>
                        <tr>


                        </tr>
                        </thead>
                    </table>
                </th>
                <th style="text-align: center;">
                    OrderedItems
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width:100px !important;">Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                    </table>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="activeorder in rejectedOrders">
                <td >{{activeorder.orderId }}</td>
                <td >{{activeorder.orderedDate }}</td>
                <td >{{activeorder.name | capitalize }}</td>
                <td >{{activeorder.phone  }}</td>
                <td >{{activeorder.email  }}</td>
                <td >{{activeorder.address  }}</td>

                <td>{{activeorder.paymentMode }}</td>
                <td>{{activeorder.paymentStatus }}</td>
                <td>{{activeorder.orderStatus }}</td>
                <td>{{activeorder.rejectReason }}</td>
                <td>{{activeorder.cartValue }}</td>
                <td>{{activeorder.couponCode }}</td>
                <td>{{activeorder.couponAmount }}</td>
                <td>{{activeorder.deliveryCharges }}</td>
                <td>{{activeorder.taxAmount }}</td>
                <td>{{activeorder.grandtotal }}</td>
                <td >
                    <table style="height: 60px;width: 110px;overflow: scroll;display: block;overflow-x: auto;">
                        <tbody>
                        <tr ng-repeat="ts in activeorder.cartItems">
                            <td class="td-order1" >{{ts.name}}-{{ts.date}}</td>

                        </tr>
                        </tbody>
                    </table>
                </td>

                <td>
                    <table >
                        <tbody>
                        <tr ng-repeat="it in activeorder.cartItems">
                            <td class="td-order1" >{{it.name }}</td>
                            <td class="td-order2">{{it.quantity }}</td>
                            <td class="td-order3">{{it.price }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


</div>

