<div class="adminContent" ng-init="getTodaysOrders()">
    <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>
    <div class="row" ng-show="!loadingImage">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span>Today deliverable Orders
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#salesTotal1')">
                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>
                </div>
            </div>
            <div class="clearfix visible-block">
                <input type="text" id="dateForTodayordersId" placeholder="pick Date" ng-model="hi" ng-change="custmGetTodayOrders2()"
                         class="form-control date" required readonly="readonly"/>
            </div>
            <hr/>
        </div>

        <div ng-show="false">
            todayOrders
            <table  id="salesTotal1">
                <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Order Number</th>
                    <th>Order&nbspDate&nbsp</th>
                    <th> Name</th>
                    <th> Phone</th>
                    <th> Email</th>
                    <th> Address</th>

                    <th> PaymentMode</th>
                    <th> PaymentStatus</th>
                    <th> OrderStatus</th>
                    <th> CartValue</th>
                    <th> CouponCode</th>
                    <th> CouponDiscount</th>
                    <th> DeliveryCharges</th>

                    <!-- <th> TaxPercentage</th>-->

                    <th> GrandTotal</th>
                    <th> Duration</th>
                    <th style="text-align: center;">Order Dates
                        <table class="table">
                            <thead>
                            <tr>


                            </tr>
                            </thead>
                        </table>
                    </th>
                    <th style="text-align: center;">
                        OrderedItems
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width:100px !important;">Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                        </table>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="activeorder in todaysOrders">
                    <td>{{$index + 1}}</td>
                    <td>{{activeorder.orderId }}</td>
                    <td>{{activeorder.orderedDate }}</td>
                    <td>{{activeorder.name | capitalize }}</td>
                    <td>{{activeorder.phone }}</td>
                    <td>{{activeorder.email }}</td>
                    <td>{{activeorder.address }}</td>

                    <td>{{activeorder.paymentMode }}</td>
                    <td>{{activeorder.paymentStatus }}</td>
                    <td>{{activeorder.orderStatus }}</td>
                    <td>{{activeorder.subTotal }}</td>
                    <td>{{activeorder.couponCode }}</td>
                    <td>{{activeorder.couponAmount }}</td>
                    <td>free</td>
                    <!-- <td>{{activeorder.taxAmount }}</td>-->
                    <td>{{activeorder.cartValue }}</td>
                    <td>{{activeorder.todaysOrdersDates.length}}&nbsp;Days</td>
                    <td>
                        <table style="height: 60px;width: 110px;overflow: scroll;display: block;overflow-x: auto;">
                            <tbody>
                            <tr ng-repeat="ts in activeorder.cartItems">
                                <td class="td-order1">{{ts.name}}-{{ts.date}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td>
                        <table>
                            <tbody>
                            <tr ng-repeat="it in activeorder.cartItems">
                                <td class="td-order1">{{it.name }}</td>
                                <td class="td-order2">{{it.quantity }}</td>
                                <td class="td-order3">{{it.price }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>



        <div>
            <table datatable="ng" id="sales" class="hover table table-bordered table-striped"
                   style="width: 100% !important;overflow: scroll; display: inherit;overflow-y: hidden;">
                <thead width="100%">
                <tr>
                    <th>Order Number</th>
                    <th> Name</th>
                    <th> Phone</th>
                    <th> Address</th>
                    <th> GrandTotal</th>
                    <th style="text-align: center;">Order Dates</th>
                    <th style="text-align: center;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="activeorder in todaysOrders">
                    <td>{{activeorder.orderId }}</td>
                    <td>{{activeorder.name | capitalize }}</td>
                    <td>{{activeorder.phone }}</td>
                    <td>{{activeorder.address }}</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{activeorder.cartValue }}</td>
                    <td>
                        <table class="table profile table-bordered table-responsive">
                            <thead>
                            <th>Date</th>
                            <th>Pkg Details</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ts in activeorder.todaysOrdersDates">
                                <td ng-if='ts==todayDate' class="td-order1">{{ts}}</td>
                                <td ng-if='ts==todayDate' >
                                    <table class="table profile table-bordered table-responsive">
                                        <tbody>
                                        <tr ng-repeat="tss in activeorder.cartItems track by $index">
                                            <td ng-if='ts==todayDate' ng-show='tss.date==ts' class="td-order1">{{tss.name}}</td>
                                            <td ng-if='ts==todayDate' ng-show='tss.date==ts' class="td-order1">{{tss.quantity}}</td>
                                            <td ng-if='ts==todayDate' ng-show='tss.date==ts' class="td-order1">{{tss.price}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="margin-top:60px;" ng-click="ViewMoretodayOrders(activeorder)"
                        class="btn edit-btn m-l10 tt">
                        <span class="fa fa-eye"></span>
                        <span class="ttt">View</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="viewMoreTodaysId" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order</h4>
            </div>
            <div class="modal-body">

                <table class="table profile table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{todaysOrderdata.name}}</td>
                        <td>Email</td>
                        <td>{{todaysOrderdata.email}}</td>
                        <td>Phone Number</td>
                        <td>{{todaysOrderdata.phone}}</td>
                    </tr>
                    <tr>
                        <td>Order Number</td>
                        <td>{{todaysOrderdata.orderId}}</td>
                        <td>Order Duration</td>
                        <td>{{todaysOrderdata.todaysOrdersDates.length }}&nbsp;Days</td>
                        <td>Order Start Date</td>
                        <td>{{todaysOrderdata.todaysOrdersDates[0] }}</td>

                    </tr>
                    <tr>
                        <td>Payment Status</td>
                        <td>{{todaysOrderdata.paymentStatus}}</td>
                        <td>Order status</td>
                        <td>{{todaysOrderdata.orderStatus}}</td>
                        <td>Order End Date</td>
                        <td>{{todaysOrderdata.todaysOrdersDates[todaysOrderdata.todaysOrdersDates.length-1] }}</td>

                    </tr>
                    <tr>
                        <td> CouponCode</td>
                        <td>{{todaysOrderdata.couponCode}}</td>
                        <td> CouponDiscount</td>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{todaysOrderdata.couponAmount}}</td>
                        <td> Loyalty Amount</td>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{todaysOrderdata.loyaltyAmount}}</td>
                    </tr>
                    <tr>
                        <td> Payment Mode</td>
                        <td>{{todaysOrderdata.paymentMode}}</td>
                        <td> Cart value</td>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{todaysOrderdata.subTotal}}</td>
                        <td> Total</td>
                        <td><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{todaysOrderdata.cartValue }}</td>
                    </tr>
                    <tr>
                        <td> Address</td>
                        <td colspan="6">{{todaysOrderdata.address}}</td>

                    </tr>
                    </tbody>
                </table>
                <table class="table profile table-bordered table-responsive">
                    <thead>
                    <th>Date</th>
                    <th class="text-aglin-center">Pkg Detail</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ts in todaysOrderdata.todaysOrdersDates track by $index">
                        <td class="td-order1">{{ts}}</td>
                        <!--<td class="td-order1" >{{ts.name}}-{{ts.date}}</td>-->
                        <td>
                            <table class="table profile table-bordered table-responsive">
                                <tbody>
                                <tr ng-repeat="tss in todaysOrderdata.cartItems track by $index">
                                    <td ng-show='tss.date==ts' class="td-order1">{{tss.name}}</td>
                                    <td ng-show='tss.date==ts' class="td-order1">Qty:&nbsp;{{tss.quantity}}</td>
                                    <td ng-show='tss.date==ts' class="td-order1"><i class="fa fa-inr"
                                                                                    aria-hidden="true"></i>&nbsp;{{tss.price}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


