<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span><span lang="en"> User Profile</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="table-responsive">
                    <div class="projectMain m-top20 m-btm20">
                        <div class="projectTile"><span lang="en">Personal Information</span></div>
                        <table class="table nopadding">
                            <tbody>
                            <tr>
                                <th class="width120" lang="en">Display Name</th>
                                <td class="width20">:</td>
                                <td>{{userInfo.name}}</td>
                                <td>
                                    <button class="btn btn-primary" data-target="#editName" data-toggle="modal"><span
                                            class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            <!-- <tr>
                                 <th class="width120" lang="en">First Name</th>
                                 <td>:</td>
                                 <td>{{userInfo.firstName}}</td>
                                 <td>
                                     &lt;!&ndash; <button class="btn btn-primary" data-target="#editName" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>&ndash;&gt;
                                 </td>
                             </tr>-->
                            <tr>
                                <th class="width120" lang="en">Work Number</th>
                                <td>:</td>
                                <td>{{userInfo.workNum}}</td>
                                <td>
                                    <button class="btn btn-primary" data-target="#editWorkNum" data-toggle="modal"><span
                                            class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <th class="width120" lang="en">Mobile Number</th>
                                <td>:</td>
                                <td>{{userInfo.mobile}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="changeMobileNumber(userInfo)"><span
                                            class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <th lang="en">Email Id</th>
                                <td>:</td>
                                <td>{{userInfo.email}}</td>
                                <td>
                                    <!--<button class="btn btn-primary" data-target="#editPhone" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <button class="btn btn-primary" ng-click="changePasswordModal()" lang="en">Change
                                        Password
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="editName" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Name</h4>
            </div>
            <form role="form" name="myform" class="adminContent">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span
                                    lang="en">Enter Name</span>:</label>
                            <input id="changeNameField" placeholder="Enter Name" type="text" ng-model="userInfo.name"
                                   value="{{userInfo.name}}">
                            <i class="fa fa-user adminName-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-click="userNameChange(userInfo.name,userInfo.id)"
                            lang="en">Submit
                    </button>
                    <!--<button type="reset" class="btn btn-info">Reset</button>-->
                    <!--<button id="cancel1" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>-->
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editPhone" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Mobile Number</h4>
            </div>
            <form role="form" name="myform" class="adminContent"
                  ng-submit="editMobileSubmit(editMobileNumber.mobile,userInfo.id)">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div ng-show="errorMessage"
                             class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center color-red">
                            Please Enter Valid Mobile Number of Max length 10
                            <hr class="m-tb10"/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span
                                    lang="en">Enter Mobile Number</span>:</label>
                            <input id="changeMobileField" placeholder="Enter Mobile Number" valid-number minlength="10"
                                   maxlength="10" type="text" ng-model="editMobileNumber.mobile"
                                   value="{{userInfo.mobile}}">
                            <i class="fa fa-phone-square adminName-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <!--<button type="reset" class="btn btn-info">Reset</button>-->
                    <!--<button id="cancel2" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>-->
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editWorkNum" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Work mobile number</h4>
            </div>
            <form role="form" name="myform" class="adminContent">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div ng-show="errorMessage"
                             class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center color-red">
                            Please Enter Valid Mobile Number of Max length 10
                            <hr class="m-tb10"/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Enter Mobile:</label>
                            <input id="editWorkNumField" placeholder="Enter Mobile Number" type="text"
                                   ng-model="userInfo.workNum" value="{{userInfo.workNum}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"
                            ng-click="editWorkNumSubmit(userInfo.workNum,userInfo.id)" lang="en">Submit
                    </button>
                    <!--<button type="reset" class="btn btn-info">Reset</button>-->
                    <!--<button id="cancel3" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>-->
                </div>
            </form>
        </div>

    </div>
</div>

<div id="changePassword" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Change Password</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="changePasswordSubmit()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div ng-show="errorMessagePSW"
                             class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 errorMsg text-center color-red">
                            {{passwordError1}}
                            <hr class="m-tb10"/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Current Password</span>:</label>
                            <input type="password" id="password" ng-model="user.password"
                                   class="form-control b-radius10" placeholder="Enter Your current Password" required/>
                            <i class="fa fa-key adminKey-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span
                                    lang="en">New Password</span>:</label>
                            <input type="password" class="form-control b-radius10" id="pswd" ng-model="user.newPassword"
                                   minlength="6" placeholder="New Password" required/>
                            <i class="fa fa-key adminKey-icon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span
                                    lang="en">Re-type New Password</span>:</label>
                            <input type="password" class="form-control b-radius10" id="pswd1" ng-model="password"
                                   minlength="6" placeholder="Confirm Password" required/>
                            <i class="fa fa-key adminKey-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <!--<button type="reset" class="btn btn-info">Reset</button>-->
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="changePasswordSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Password Updated Successfully</div>
            </div>
        </div>

    </div>
</div>
<div id="mobileNumberSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Mobile Number is Updated Successfully</div>
            </div>
        </div>

    </div>
</div>
