<div class="adminContent" ng-init="viewMenu()">
  <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>

  <div class="" ng-show="!loadingImage">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="projectName color-orange"><span
              class="glyphicon glyphicon-hand-right color-orange"> </span> &nbsp;Category
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- <button ng-show="citydisplay" class="btn btn-default m_l260" ng-click="exportToExcel('#table1')">
               <span class="glyphicon glyphicon-share "></span> Export to Excel
             </button>-->
            <button class="btn edit-btn pull-right" data-toggle="modal" data-target="#addCategory">Add
              Category
            </button>
          </div>
        </div>
        <div class="clearfix visible-block"></div>
        <hr/>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="table-responsive table-width85">
            <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
              <thead>
              <tr>
                <th class="p_left40">Date</th>
                <th class="p_left40">Meal Time</th>
                <th class="p_left40">Packages</th>
                <th class="p_left40">Menu Type</th>
                <th class="p_left40">Menu Description</th>
                <th class="txt-center">Status</th>
                <th class="txt-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="Category in menuItems">

                <td class="p_left40">{{Category.date}}</td>
                <td class="p_left40">{{Category.mealTimeId}}</td>
                <td class="p_left40">{{Category.packageId}}</td>
                <td class="p_left40">{{Category.mealTypeId}}</td>
                <td class="p_left40">{{Category.itemDesc}}</td>
                <td class="p_left40">{{Category.status}}</td>
                <td class="txt-center">
                  <button class="btn edit-btn tt" ng-click="editmenu(Category)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="ttt">Edit</span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="addCategory" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content top30">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Menu</h4>
        </div>
        <form id="addCategoryId" role="form" name="myform" ng-submit="createMenu()">
          <div class="row schemForms">
            <div class="modal-body">
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Menu Date<span class="color-red">*</span>:</label>
                <input id="menuDateId" type="text" placeholder="Select Date"
                       class="form-control date" ng-model="menuCreatedata.date"
                       required readonly="readonly"/>
                <label>menu Items <span class="color-red">*</span>:</label>
                <select id="memuitemsId" ng-model="menuCreatedata.mealTimeId"
                        data-style="btn-primary" data-placement="Select Status">
                  <option value="" disabled>Select MealTimes</option>
                  <option ng-repeat="mealTimes in MealTimes"
                          value="{{mealTimes.id}}">
                    {{mealTimes.MealTimeDesc}}
                  </option>
                </select>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Menu Package<span class="color-red">*</span>:</label>
                <select id="menuPackageId" ng-model="menuCreatedata.packageId"
                        data-style="btn-primary" data-placement="Select Package">
                  <option value="" disabled>Select category</option>
                  <option ng-repeat="cate in packages"
                          value="{{cate.id}}">
                    {{cate.packageName}}
                  </option>
                </select>
                <label>Food Type <span class="color-red">*</span>:</label>
                <select id="foodTypeId" ng-model="menuCreatedata.mealTypeId"
                        data-style="btn-primary" data-placement="Select Status">
                  <option value="" disabled>Select MealTypes</option>
                  <option ng-repeat="mealTypes in MealTypes"
                          value="{{mealTypes.id}}">
                    {{mealTypes.MealTypeDesc}}
                  </option>
                </select>
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Menu Description<span class="color-red">*</span>:</label>
                <textarea rows="4" cols="50" placeholder="Enter Package Discription" id="menuDescriptionId"
                          maxlength="40"
                          class="form-control border-input" ng-model="menuCreatedata.itemDesc"
                          required></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Create</button>
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
          </div>
        </form>
      </div>

    </div>
  </div>

  <div id="editCategoryId" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content top30">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Category</h4>
        </div>
        <form role="form" name="myform" ng-submit="updateMealPlan()">
          <div class="row schemForms">
            <div class="modal-body">
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Category <span class="color-red">*</span>:</label>
                <input type="text" placeholder="Enter Category name " class="form-control f-size12"
                       ng-model="categoryEditData.name" maxlength="25" required/>
                <label>Status <span class="color-red">*</span>:</label>
                <select ng-model="categoryEditData.status" data-style="btn-primary"
                        data-placement="Select status">
                  <option value="" disabled>Select Status</option>
                  <option value="available">Available</option>
                  <option value="Unavailable">Unavailable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="categoryEditSave(categoryEditData.id)">
              Update
            </button>
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
