.m-top70{ margin-top: 70px;}
.m-top130{ margin-top: 130px;}
.m-btm50{    margin-bottom: 50px;}
.boxshadow_none{box-shadow: none !important;}
.color-orange{     color: #e29201;}
.mbtm20{ margin-bottom: 20px !important; }
.border-right{border-right: 1px solid #ccc !important;}
.bghead{
  color: #fff;
  background:#e29201;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  top: 0px;
  position: absolute;
  width: 100%;
}
.bg-grey{
  background: #e5e9ea;
}
.edit-btn, .edit-btn:hover, .edit-btn:focus {
  background: #e29201;
  /*background: rgba(226, 138, 1, 0.44) !important;*/
  color: #fff;
}
.f-size12{ font-size: 12px;}
.f-size16{ font-size: 16px;}
.ui-notification.error{
  font-size: 12px !important;
}
.cartnum {
  color: #fff;
  position: absolute;
  left: 40px;
  top: 35px;
  background: #e29201;
  border: 1px;
  padding: 1px;
}
.cartnum1 {
  color: #fff;
  position: absolute;
  top: 35px;
  background: #e29201;
  border: 1px;
  padding: 1px;
  right: 8px;
}
.ui-notification.killed{

  opacity: 0 !important;
}
.chart {
  width: 500px;
  height: 500px;
}
.naveendis{
  width: 200%;
  right: 277px;
}
.naveendis12{
  width: 329px !important;
  word-break: break-all;
}

.showallcaty{
  position: absolute;
  z-index: 999;*
  top: 12px;
  text-align: center;
  left: 0;
  right: 0px;
  width: 150px;
  margin: auto;
}
.showallloc{
  position: absolute;
  z-index: 999;
  top: 20px;
  text-align: center;
  left: 0;
  right: 0px;
  width: 150px;
  margin: auto;
}
.showallthea{
  position: absolute;
  z-index: 999;
  top: 15px;
  text-align: center;
  left: 0;
  right: 0px;
  width: 150px;
  margin: auto;
}

.showallcity{
  position: absolute;
  z-index: 999;
  top: 16px;
  text-align: center;
  left: 0px;
  right: 0px;
  width: 150px;
  margin: auto;
}
.showall {
  position: absolute;
  z-index: 999;
  top: 230px;
  text-align: center;
  left: 230px;
  right: 0px;
  width: 150px;
  margin: auto;
}

/*checkbox*/
.wrapper {
  margin: 100px 0;

}
.toggle_radio{
  position: relative;
  background: #e29201;
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 212px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 109px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 215px;
}


/*checkbox*/

.vendor-style {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
  color:#e29201;
}
.color-fff{ color:#fff;}
.color-orange{ color:#e29201;}
.sent {
  text-align: center;
  margin-bottom: 10px;
  margin-left: 13px;
}
.viewmore {
  background: #e29201;
  border: 0px;
  color: #fff;
}
.submit-style{
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  display: table;
  padding: 10px 45px;
  border-radius: 5px;
  background: #e29201;
  color: #fff;
  font-size: 14px;
  border:0px;
}
.input-admin {
  border-radius: 5px !important;
 /* padding: 20px;*/
  outline: none;
  font-size: 12px;
}
.m_l260{  margin-left: 246px;}
body { font-size: 12px; }
.bglogin {
  background: url('../images/login_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 617px;
  margin-top: 0px;
}
.side-nav {
  top: 70px;
  background-color: #e5e9ea;
  border-right: 2px solid #233120;
}
.navbar-header{ margin-top: 20px;}
.welcome-style{
  color: #fff;
  z-index: 99;
  background:#e29201;
  position: fixed;
  top: 0px;
  padding: 10px;
  width: 100%;
}
.color-fff{ color:#fff;}
.side-nav li a:hover, .side-nav li a:focus{
  outline: none;
  background-color: #e29201 !important;
}
.vendor900>li{ color: #ccc;}

.side-nav .nav.nav-list a {
  color: #777 !important;
}
.adminContent {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background: #fff !important;
}
.nopadding {
  padding: 0;
  margin: 0;
}
.btn-centr {
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  display: table;
}
.color_orange{ color:#e29201; }
.header-centr{
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  display: table;
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: underline;
  margin-top: 60px;
  color:#e29201;
}
.btn-center{
    display: table;
    margin: auto;
    width: 75px;
    font-size: 12px;
}
.notification{
  position: absolute;
  top: 15px;
  font-size: 18px;
  left: 27px;
}

.notification_d {
  position: absolute;
  top: 13px;
  font-size: 18px;
  left: 33px;
}
.color-red{ color:red;}
.border-input {
  border: 1px solid #ccc;
  border-radius: 0px;
  font-size: 11px;
}
.td_widthstyle{
    width: 220px;
    padding-left: 100px !important;
}
.f-left{ float:left;}
.m-right5 { margin-right: 5px; }
.m-top20 { margin-top: 20px; }
.m-top10 { margin-top: 10px; }
.m-btm20 { margin-bottom: 20px; }
.p_left40{
    padding-left: 50px !important;
    width: 225px;
}
.m-btm10 { margin-bottom: 10px; }
:focus { outline: 0 !important; }
.m-top40 { margin-top: 40px;}
.m-top60{    margin-top: 60px !important;}
.m-l132{ margin-left: 132px;}
.cursor-ptr{ cursor: pointer;}
.txt-center{ text-align: center !important;}
.vertical-middle{ vertical-align: middle;}
.list_none{list-style: none; }
.m-l10{ margin-left: 10px;}
.bg-233120{background: #233120;}
.f-right{ float: right;}
.selecttop {
  width: 100px;
  padding: 6px;
  border: 1px solid #ccc;
}
.margin-left-30{    margin-left: -35px;}
.width_alignment {
    width: 68%;
    display: table;
    margin: auto;
}
.thead-style {
    background: #233120;
    color: #fff;
}
.range-style{

  padding: 10px;
  display:none;
}
.li_top10{
  float:left;margin-left: 10px
}
.gap2 {
  margin: 0;
  padding-bottom: 25px;
  color: #fff;
  margin-top: 45px;
  font-size: 20px;
}
.img-logo {
  position: absolute;
  top: 100px;
  right: 0px;
  left: 0px;
  text-align: center;
  display: table;
  margin: auto;
}
.showtimg09 {
  list-style: none;
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}
.p_8{
  padding: 10px !important;
}
.showtimg{
  border: 1px solid #ccc;
  margin-top: 12px;
  text-align: center;
}
.seat{
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
}
/*.table-seat {
  width: 242px !important;
  height: 132px;
  overflow: scroll;
  display: table-caption;
  overflow-x: hidden;
}*/
.btn-submit1{
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #337ab7;
  color: #fff;
}
a:hover, a:focus {
  cursor: pointer;
  text-decoration: none !important;
}
.btn, .btn:hover, .btn:focus { border-radius: 0 !important; }
.contentStart {
  padding: 20px;
}
.loginFormMain {
  border: 2px solid #fff;
  padding: 30px;
  margin-top: 160px;
  border-radius: 15px;
}
.schemeMain .nav.nav-tabs {
  margin: auto;
  display: table;
}
.schemeMain .nav-tabs>li { margin-bottom: 0; }
.schemeMain .nav-tabs>li.active>a, .schemeMain .nav-tabs>li.active>a:focus, .schemeMain .nav-tabs>li.active>a:hover {
  border: 0;
  background: #ccc;
  color: #fff;
}
.schemeMain .nav-tabs>li>a { border-radius: 0; }
.schemeMain .nav-tabs { border-bottom: 0; }
.schemeSuccess {
  margin: 50px 0;
  text-align: center;
  color: #008233120;
  font-size: 24px;
}
.schemeMain td {
  text-align: left !important;
  vertical-align: middle !important;
}
.schemeMain .tab-content {
  border: 1px solid rgba(204, 204, 204, 0.34);
  padding: 15px;
  margin-top: 5px;
  background: #f7f7f7;
  box-shadow: inset 0 0 8px #eaeaea;
}
.show_timgs {
  background: #233120;
  color: #fff;
  padding: 7px;
}
.width150 { width: 70px; }
.width160 { width: 160px; }
.width120 { width: 120px; }
.width20 { width: 20px; }
.m-top77{margin-top:77px;}
.input1234{
    width: 10%;
    margin-left: 220px !important;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 0 2px #ccc;
    -webkit-box-shadow: inset 0 0 2px #ccc;
    -moz-box-shadow: inset 0 0 2px #ccc;
    height: 34px;
}
.input12345{
    width: 30%;
    margin: auto;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 0 2px #ccc;
    -webkit-box-shadow: inset 0 0 2px #ccc;
    -moz-box-shadow: inset 0 0 2px #ccc;
    height: 26px;
}
/*.dropdown-menu{
  height: 200px;
}*/

/*.navbar-inverse {
  background: url('../images/pattern.png');
}*/
.schemForms input, .schemForms select, .schemForms textarea, .loginFormMain input { width: 100%; }
label {
  font-size: 12px;
  font-weight: normal;
}
.schemForms select { padding: 7px; }
.schemForms select, .schemForms textarea {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  padding-left: 10px;
}


.radioBtn {
  width: auto !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  height: 15px !important;
}
.side-nav.nav.navbar-nav li a {
  /*box-shadow: 0px 0px 2px #ccc;
  -webkit-box-shadow: 0px 0px 2px #ccc;
  -moz-box-shadow: 0px 0px 2px #ccc;*/
  padding: 10px 0px !important;
}
.side-nav.nav.navbar-nav li .nav.nav-list li a {
  padding: 6px 10px 6px 20px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #233120;
}
.side-nav .nav.nav-list a { color:#233120 !important;}
.collapse.in{
  border-top: 1px solid #ccc;
  margin: 0 10px;
}
.side-nav.nav.navbar-nav li .nav.nav-list li .nav.nav-list li a {padding: 6px 10px 6px 20px;}
.legendStyle a {
  font-size: 16px;
  background: rgba(90, 87, 87, 0.34);
  color: #fff;
  padding: 5px 20px;
}
/*.side-nav .nav.nav-list { background: #636363; }*/
/*.side-nav .nav.nav-list a { color: #fff !important; }*/
.side-nav .nav.nav-list a:hover, .side-nav .nav.nav-list a:focus, .side-nav .nav.nav-list a:active{
  color: #fff !important;
  /*background: #e29201;*/
  background: rgba(226, 138, 1, 0.44) !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  text-align: center;
}
/*.nav.nav-list li.active a, .nav.nav-list li.active:hover, .nav.nav-list li.active:focus,
.side-nav li a:hover, .side-nav li a:focus, .side-nav > li.active a,
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover { background: brown; }*/
.titleAdmin {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.titleAdmin a, .titleAdmin a:hover, .titleAdmin a:focus {
  color: #fff !important;
  font-size: 16px;
  padding: 1px !important;
  background-color: transparent !important;
}
.titleAdmin h5 {
  color: #fff;
}
.nav.nav-list a {
  padding-left: 30px;
}
/** schema management **/
/** data tables **/
body .table-responsive input, body .table-responsive select {
 /* height: 35px;*/
  padding-left: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
  box-shadow: inset 0 0 2px #ccc;
  border: 1px solid #ccc;
}
body .table-responsive select { width: 150px; }
body table.dataTable thead th, body table.dataTable thead td { border-bottom: 0; }
body table.dataTable tfoot th, body table.dataTable tfoot td { border-top: 0; }
body .table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: 0 !important;
  border-bottom: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
}
body .table-bordered>tbody>tr>td:last-of-type,
.table-bordered>tbody>tr>th:last-of-type,
.table-bordered>tfoot>tr>td:last-of-type,
.table-bordered>tfoot>tr>th:last-of-type,
.table-bordered>thead>tr>td:last-of-type,
.table-bordered>thead>tr>th:last-of-type
{ border-right: 0 !important; }
table.dataTable thead th, table.dataTable tfoot th {
  font-weight: bold;
  background: rgba(34, 34, 34, 0.9);
  color: #fff;
}
/** data tables **/
/** project word works **/
/*.projectMain {
  border: 1px solid #ccc;
}*/
.projectTile {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background: rgba(34, 34, 34, 0.09);
  color: #d9534f;
  font-size: 12px;
  font-weight: bold;
  word-spacing: 3px;
  letter-spacing: 1.2px;
}
.projectInner {
  padding: 20px;
}
.top30{
  top: 30px;
}
.projectName {
  color: #e29201;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 5px;
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 1px 5px;
}
table.dataTable thead th, table.dataTable thead td {
  padding: 8px 5px;
}
/** range **/
.range {
  display: table;
  position: relative;
  height: 34px;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range input[type="range"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;

  display: table-cell;
  width: 100%;
  background-color: #d2d0d0;
  height: 34px;
  cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;

  width: 11px;
  height: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;

  width: 11px;
  height: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: rgb(153, 153, 153);
}
.navbar-inverse .navbar-brand{ color: #e29201;}
.range output {
  display: table-cell;
  padding: 3px 5px 2px;
  min-width: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(153, 153, 153);
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.range input[type="range"] {
  outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
  background-color: rgb(66, 139, 202);
}
.range.range-primary output {
  background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
  outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
  background-color: rgb(92, 184, 92);
}
.range.range-success output {
  background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
  outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
  background-color: rgb(91, 192, 222);
}
.range.range-info output {
  background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
  outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
  background-color: rgb(240, 173, 78);
}
.range.range-warning output {
  background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
  outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
  background-color: rgb(217, 83, 79);
}
.range.range-danger output {
  background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
  outline-color: rgb(217, 83, 79);
}
/** range **/
/** project word works **/
/** legal Management **/
#masterData .projectInner {
  background: #fbfbfb;
}
/** legal Management **/

#lodingImage {
  position: relative;
}
#lodingImage img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: block;
  z-index: 9999;
}
.form-group { position: relative; }
body .dhtmlxcalendar_material.dhtmlxcalendar_in_input {
  z-index: 99999 !important;
  background: #f3f3f3;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 10px #ccc;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  -moz-box-shadow: inset 0 0 10px #ccc;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fff;
  border-radius: 10px;
  background: #233120;

}
.cutmr_tr {
  background: #233120;
  color: #fff;
  border: none !important;
}
.custmr-09>thead>tr>th{
  border-top: 0px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #233120;
  background: #ccc;
}
.showallcityvendor{
  position: absolute;
  z-index: 999;
  top: 89px;
  text-align: center;
  left: 0px;
  right: 0px;
  width: 150px;
  margin: auto;
}

/*
#scroll2 { display: none; }*/
.headerSchemes .panel.panel-primary {
  width: 100%;
  display: table;
}
.headerSchemes .panel-heading {
  width: 100%;
  display: inline-table;
}
body table > td > table .dataTables_wrapper .dataTables_length, body table > td > table .dataTables_filter
{
  display: none !important;
}

/* Styles go here */

.custom-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  width: 220px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-select.small {
  width: 104px;
}
.custom-select.medium {
  width: 164px;
}
.custom-select.large {
  width: 300px;
}
.custom-select.xlarge {
  width: 380px;
}
.custom-select > select {
  display: none !important;
}
.custom-select > a.dropdown-toggle {
  border-radius: 0;
  line-height: 28px;
  box-shadow: none;
  background: #ffffff;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  border: 1px solid #aaa;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  color: #888;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
}
.custom-select > a.dropdown-toggle.disabled,
.custom-select > a.dropdown-toggle.disabled:hover {
  cursor: not-allowed;
  color: #aaa;
  background: #eee;
}
.custom-select > a.dropdown-toggle:hover,
.custom-select.open > a.dropdown-toggle {
  color: #333;
}
.custom-select.open > a.dropdown-toggle {
  border-bottom: 0;
  line-height: 29px;
}
.control-group.error .custom-select > a.dropdown-toggle {
  border-color: #f09784;
  color: #d68273;
}
.custom-select > a.dropdown-toggle > span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-select > a.dropdown-toggle > b {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.custom-select > a.dropdown-toggle > b:before {
  content: "\f0d7";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  position: relative;
  top: -1px;
  left: 1px;
}
.custom-select.open > a.dropdown-toggle > b:before {
  content: "\f0d8";
}
.custom-select > .dropdown-menu {
  margin-top: 0;
  border-color: #aaa;
  border-top: 0;
  padding-bottom: 0;
  width: auto;
  min-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
}
.custom-select > .dropdown-menu > .custom-select-search > input {
  width: 100%;
  height: 30px;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 5px;
  border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search:after {
  content: "\f002";
  display: inline-block;
  color: #888;
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 10px;
}
.custom-select > .dropdown-menu > ul {
  border-color: #aaa;
  border-top: 0;
  margin: 4px 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  padding-right: 14px;
}

.custom-select > .dropdown-menu > ul > li > a {
  font-size: 13px;
  margin-bottom: 1px;
  margin-top: 1px;
  display: block;
  padding: 3px 8px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  cursor: pointer;
  width: 100%;
}
.custom-select > .dropdown-menu > ul > li > a:hover,
.custom-select > .dropdown-menu > ul > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-repeat: repeat-x;
}
.custom-select > .dropdown-menu > ul > li > a:hover {
  background: #4f99c6;
}
.custom-select > .dropdown-menu > ul > li > a:focus {
  background: #2283c5;
}
.custom-select > .dropdown-menu > ul > li.empty-result > em {
  text-align: center;
  padding: 4px 8px;
  display: block;
}

.custom-select > .dropdown-menu > .custom-select-action > button {
  border-radius: 0;
  background-image: none;
}
.addScheme .btn, .addScheme a { font-size: 10px; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  padding: 0.5em 1em;
}

.radioBtn {
  width: auto !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  height: 15px !important;
}
/*.drpdwn23{
  height: 40px;
}*/
.top-nav>li>a.dropdown-toggle{
  width: 190px;
  text-align: center;
}
.td-orders {
  height: 30px;
  overflow: scroll;
  overflow-x: hidden;
  overflow: auto;
}
.td-order1{
  text-align: left;
  width: 100px;
  padding: 0px;
}
.td-order2 {
  text-align: center;
  width: 50px;
}
.td-order3 {
  text-align: center;
  width: 45px;
}
.dataTables_length select {
  border: none;
  padding: 8px;
  width: 145px;
  border: 1px solid #ccc;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  padding: 8px;
  border: 1px solid #ccc;
}

.navbar-nav .panel.panel-default{
  background-color: #e5e9ea !important;
  border-bottom: 2px solid #233120;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #e5e9ea;
  border-color: #e5e9ea;
}
 .panel .panel-heading:hover, .panel .panel-heading:focus, .panel .panel-heading:active{
  /*background: #e29201 !important;*/
   background: rgba(226, 138, 1, 0.44) !important;
  color: #fff;
}
nav>li>a {
  color: #233120;
}
nav>li>a:hover, nav>li>a:focus, nav>li>a:active{
  /*background: #e29201;*/
  background: rgba(226, 138, 1, 0.44) !important;
  color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  /*background: #e29201;*/
  background: rgba(226, 138, 1, 0.44) !important;
  color: #fff;
}

.active{
  /*background: #e29201;*/
  background: rgba(226, 138, 1, 0.44) !important;
  color: #fff;
}
#container123 {
  height: 100%;
  width: 100%;
}
.minheight{ min-height: 583px;  padding-top: 50px;}
@media(min-width: 1400px) {
  .minheight{ min-height: 647px;}
}
/*.text-left {
  text-align: left;

  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: underline;
  margin-top: 60px;
  color: #e29201;
}*/

.category_table {
  left: 0;
  right: 0;
  display: table;
  margin: auto;
}
.f-left{  float: left;}
.vertical-middle{ vertical-align: middle;}
.width230{
  width: 280px;
}
.m-top20 {
  margin-top: 20px;
}
.btn-catg {
  text-align: center;
  margin: auto;
  display: table;
}
.butnsub {
  margin-top: 20px;
  text-align: center;
}
.submt_styl {
  width: 100px !important;
  float: right !important;
  margin-right: 16px !important;
}

.textarea-width{width: 100%}
.textStyle1 {
  text-align: center;
  background: #419641;
  font-size: 16px;
  text-shadow: 0 0 1px rgba(16, 16, 16, 0.55);
  color: #fff;
}

.modal-footer {
  padding: 2px;
  text-align: center;
  border-top: 1px solid #823312233120;
  background: rgb(243, 243, 243);
}
.modal-header {
  padding: 8px 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #191818;
  color: #fff;
}
.modal-header .close {
  color: #fff;
  opacity: 1;
  font-size: 15px;
}
.modal-header h4 {
  font-size: 16px;
  font-weight: bold;
}
.modal-content { border-radius: 0; margin-top: 70px; width: 130%;}
.social_style{
    margin-bottom: 30px;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: bold;
}
.table-width85{
    width: 85%;
    margin: auto;
}

.m-r2{margin-right: -2px;}
.m-r1{margin-right: 1px;}
.m-r12{margin-right: 12px;}
.m-r1{margin-right: 1px;}
.minheight584{ min-height: 584px;}
.bg-style01{
    background: rgba(204, 204, 204, 0.38);
    margin-top: 84px;
    padding: 40px 0px;
    box-shadow: 5px 5px 15px #ccc;
}
.input_style09{
    margin-bottom: 10px;
    border: 0px;
    background: #ccc;
    padding: 4px;
    margin-left: 10px;
}
.m-left390{ margin-left: 390px;}
.input_style001 {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 4px;
    margin-left: 10px;
}


/*.ui-notification{
  position: relative;
  margin: auto !important;
  padding: 0px !important;
}*/
/*.message {
  position: absolute;
  top: 10px;
  left:0px;
  right: 0px;
  bottom: 0px;
  margin: auto !important;
  padding: 0px !important;
  background-color: red;
}*/


.paymentClass{
  background: #fff !important;
}
.paymentClass select{
  width: 200px;
  padding: 6px;
}
.ui-notification.error {
    color: #fff;
    background: #d9534f;
    top: 140px !important;
}
#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    min-height: 580px;
}
.voucher {
    margin-top: 115px;
    font-size: 20px;
    text-align: center;
    color: #e29201;
    text-decoration: underline;
}
.weektype_styl{
    padding-left: 125px !important;
    width: 368px;
}
.payment-btn{
  border-top: 0px !important;
  border-right: 1px solid #999 !important;
  background: none !important;
}
.modal-footer{
text-align:center;
}
.duration_table{
    background: #233120;
    color: #fff;
    height: 22px;
}
body .navbar-inverse {
  background: #1f507b !important;
  /*background: url("../images/pattern01.png") !important;*/
}
.side-nav {
  background:  #1f507b !important;
  /*background: url("../images/pattern03.png") !important;*/
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
.datepickerdemoBasicUsage md-content {
  padding-bottom: 200px; }
.datepickerdemoBasicUsage .validation-messages {
  font-size: 12px;
  color: #dd2c00;
  margin-left: 15px; }
.width100px { width: 100px !important; }
.margin-zero { margin: 0 !important;}
body table tbody tr td table thead th, body table tbody tr td table tfoot th {
  background: rgba(162, 162, 162, 0.9) !important;
}
.p-all20 { padding: 20px; }
.selectDrop {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}
body .inputHeight {
  height: auto !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.editmenu-btn, .editmenu-btn:hover, .editmenu-btn:focus {
  background: #373737;
  color: #fff !important;
  padding: 5px 10px;
  margin-right: 13px;
}
/*radio color change*/

.ownradio input[type=checkbox]:not(old),
.ownradio input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  display: none;
}

.ownradio input[type=checkbox]:not(old) + label,
.ownradio input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : 6px;
  line-height  : 1.5em;
}

.ownradio input[type=checkbox]:not(old) + label > span,
.ownradio input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width: 20px;
  height: 20px;
  margin: 4px 5px 0px 39px;
  margin-left: 2px;
  border           : 0.0825em solid rgb(225,225,225);
  border-radius    : 0.25em;
  background       : rgb(225,225,225);
  /* background-image :    -moz-linear-gradient(rgb(225,225,225),rgb(225,225,225));
   background-image :     -ms-linear-gradient(rgb(225,225,225),rgb(225,225,225));
   background-image :      -o-linear-gradient(rgb(225,225,225),rgb(225,225,225));
   background-image : -webkit-linear-gradient(rgb(225,225,225),rgb(225,225,225));
   background-image :         linear-gradient(rgb(225,225,225),rgb(225,225,225));
   vertical-align   : bottom;*/
}

.ownradio input[type=checkbox]:not(old):checked + label > span,
.ownradio input[type=radio   ]:not(old):checked + label > span{
  /*  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(225,225,225));
    background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(225,225,225));
    background-image :      -o-linear-gradient(rgb(224,224,224),rgb(225,225,225));
    background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(225,225,225));
    background-image :         linear-gradient(rgb(224,224,224),rgb(225,225,225));*/
}

.ownradio input[type=checkbox]:not(old):checked + label > span:before,
.ownradio  input[type=radio]:not(old):checked + label > span:before{
  content     : "\2713";
  display     : block;
  width: 1px;
  color: rgb(226,146,1);
  height: 0.5em;
  margin: 0px 4px 4px 1px;
  font-size   : 18px;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(255, 175, 57);
  font-weight : bold;
}


.ownradio input[type=radio]:not(old):checked +  label > span > span{

}
/*text center align in cell*/
#calign{
  text-align: center;
}
.buttons_div{
  text-align: center;
}


.buttons_div button{
  /*float: left;*/
  height: 40px;
  width: 35px;
  margin-right: 4px;
  text-align: center;
  /*line-height: 50px;*/
  text-decoration: none;
}

.buttons_div a{
  float: inherit;
  height: 50px;
  width: 40px;
  margin-right: 6px;
}


.pad{
  padding-left: 15px;
  font-size: small;
}
/*radio color change*/
form{
  display: inline;
}

.icon-sent{
  background: green;
  color: white;
}
.icon-send{
  background: yellow;
}

.tt {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tt .ttt {
  visibility: hidden;
  width: 75px;
  background-color: #94e2d9;/*#555*/
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 65%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tt .ttt::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tt:hover .ttt {
  visibility: visible;
  opacity: 1;
}

.side-nav {
  width: 230px !important;

}


body { height: 1000px; }
#header-fixed {
  position: fixed;
  top: 0px; display:none;
  background-color:white;
}


.left{
  display: table;
  float: left;
}

.right{
  margin-left: 15%;
  float: right;

}
.m_right{
  margin-right:30px;
}
.width150{
  width:150px;
}
.width100{
  width:100px;
}
.text_left{
  text-align:left !important;
  margin-left:30px !important;
}

.fc-time{ display: none; }

.addresses {
  background-color: #e0e0a7;
}

#calendar {
  width: 1000px;
  margin: 0 auto;
}

.scroll-horizontal{
  overflow-y:hidden;
  overflow-x: scroll;
  padding-bottom:10px;
}

.scroll-vertical{
  overflow-x: hidden;
 /* overflow-y: scroll;*/
  padding-bottom: 30px;
 height: 150px;
  overflow-y: auto;
}
.add_item1{
  margin-left: 20%;
}
.checkboxclassforlabel {
  margin-left: 20px !important;

}

.saveChanges{
  font-size: 10px;
  color: red;
}